<h1>Edit Class Form<h1>

<%= form_for(@school_class) do |f| %>
    <label>Class Title</label>
    <%= f.text_field :title %><div>

    <label>Room Number</label>
    <%= f.text_field :room_number %><div>

    <%= f.submit %>

<% end %>